.footer {
    color: #545454;
    font-family: 'Inter-regular';
    font-size: 18px;
    line-height: 22px;
    padding-top: 67px;
    padding-bottom: 60px;
}

.footer__text {
    margin: 0;
}

@media screen and (max-width: 895px) {
    .footer {
        max-width: 581px;
    }
}

@media screen and (max-width: 597px) {
    .footer {
        max-width: 282px;
    }

    .footer__text {
        padding-left: 15px;
    }

    
}