.footer {
    color: #545454;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 22px;
    padding-top: 67px;
    padding-bottom: 60px;
}

.footer__text {
    margin: 0;
}

@media screen and (max-width: 920px) {
    .footer {
        max-width: 581px;
    }
}

@media screen and (max-width: 620px) {
    .footer {
        font-size: 14px;
        line-height: 17px;
        padding-top: 48px;
        padding-bottom: 36px;
        max-width: 282px;
    } 
}