.header {
    margin-top: 45px;
    padding-bottom: 41px;
    border-bottom: 1px solid rgba(33%, 33%, 33%, 0.7);
}

@media screen and (max-width: 620px) {
    .header {
        padding-top: 28px;
        width: 100%;
        padding-bottom: 32px; 
        max-width: 100%;
        margin: 0;
    }
    
    .header__image {
        height: 24px;
        width: 126px;
        margin-left: 27px;
    }
}